@model IDS325L___ProyectoFinal___Índice_académico.Models.Calificacion
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cambio de Calificación</h1>

<form asp-controller="Calificacion" asp-action="Create" method="post">
    <input type="hidden" asp-for="IdCalificacion"/>
    <input name="Matricula" asp-for="Matricula" type="hidden"/>
    <input type="hidden" name="IdAsignatura" asp-for="IdAsignatura" />
    <input type="hidden" name="IdSeccion" asp-for="IdSeccion" />
    <input type="hidden" name="Trimestre" asp-for="Trimestre" />
    <div class="mb-2">
        <label for="Nota">Calificación</label>
        <input type="" name="Nota" asp-for="Nota"/>
        <span asp-validation-for="Nota" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <div class="col mb-2">
            <button class="btn btn-primary" type="submit">Guardar</button>
            <a class="btn btn-dark btn-sm" asp-action="Index" asp-controller="Calificacion">Volver</a>
        </div>
    </div>
</form>