@model IDS325L___ProyectoFinal___Índice_académico.Models.ViewModels.RevisionVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<form asp-controller="Calificacion" asp-action="Create" method="post">
            <input type="hidden" asp-for="oCalificacion.IdCalificacion"/>
            <div class="mb-2">
                <label>Matricula del estudiante</label>
                <input name="Matricula" asp-for="oCalificacion.Matricula"/>
            </div>
            <div class="mb-2">
                 <input type="" name="IdAsignatura" asp-for="oCalificacion.Id.IdAsignatura" />
            </div>
            
            <div class="mb-2">
                <input type="" name="IdSeccion" asp-for="oCalificacion.Id.IdSeccion" />
            </div>
            <div class="mb-2">
                <input type="" name="Nota" asp-for="oCalificacion.Nota"/>
            </div>
            <div class="mb-2">
                <button class="btn btn-primary" type="submit">Create</button>
                <a class="btn btn-dark btn-sm" asp-action="Index" asp-controller="Calificacion">Volver  </a>
            </div>
</form>