@model List<IDS325L___ProyectoFinal___Índice_académico.Models.Seccion>


@{
    ViewData["Title"] = "IndexAsignaturasDocente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>IndexAsignaturasDocente</h1>

<div class="panel-group"id="accordion">
    @foreach(var item in Model)
    {
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="@item.IdAsignaturaNavigation.IdAsignatura">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    @item.IdAsignaturaNavigation.NombreAsignatura
                    </button>
                </h2>
                <div id="@item.IdAsignaturaNavigation.IdAsignatura" class="accordion-collapse collapse show" aria-labelledby="@item.IdAsignaturaNavigation.IdAsignatura" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>Progando</p>
                    </div>
                </div>
 
            </div>
        </div>
    }
</div>
       





            