@model IDS325L___ProyectoFinal___Índice_académico.Models.Calificacion
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Publicar Calificación</h1>

<form asp-controller="Calificacion" asp-action="Publicar" method="post">
    <input type="hidden" asp-for="IdCalificacion"/>
    <input name="Matricula" asp-for="Matricula" type="hidden"/>
    <input type="hidden" asp-for="IdAsignatura" id="asg" />
    <input type="hidden" asp-for="IdSeccion" id="sec" />
    <input type="hidden" asp-for="Trimestre" id="tri" />
    <div class="mb-2">
        <label for="Nota">Calificación</label>
        <input type="" name="Nota" asp-for="Nota"/>
    </div>
    <div class="col-md-4">
        <div class="col mb-2">
            <button  onclick="return confirm('¿Seguro que desea realizar esta acción?')" class="btn btn-danger btn-sm" type="submit">Guardar</button>
            <a class="btn btn-danger btn-sm" asp-action="IndexPublicar" asp-controller="Calificacion" asp-route-IdSeccion="@Model.IdSeccion" asp-route-IdAsignatura="@Model.IdAsignatura" asp-route-Trimestre="@Model.Trimestre" asp-route-MatriculaDocente="@ViewBag.MatriculaDocente">Volver</a>
        </div>
    </div>
</form>