@model IDS325L___ProyectoFinal___Índice_académico.Models.Asignatura

<h1>Delete</h1>

<div class="row">
    <div class="col-sm-4">
        <form asp-action="Delete" asp-controller="Asignaturas" method="post">
            <input type="" asp-for="IdAsignatura"/>
            <div class="mb-2">
                <label class="form-label" asp-for="CodigoAsignatura">Código de Asignatura</label>
                <input class="form-control form-control-sm" asp-for="CodigoAsignatura" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="CodigoArea">Código de Asignatura</label>
                 <input class="form-control form-control-sm" asp-for="CodigoArea" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Credito">Cantidad de créditos</label >
                <input class="form-control form-control-sm" asp-for="Credito"  disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="NombreAsignatura">Nombre asignatura</label>
                <input class="form-control form-control-sm" asp-for="NombreAsignatura" disabled />
            </div>

            <div class="mb-2">
                <button class="btn btn-danger btn-sm w-25">Eliminar</button>
                <a class="btn btn-success" asp-action="Index" asp-controller="Asignaturas">Volver</a>
            </div>
        </form>
    </div>  
</div>