@model IDS325L___ProyectoFinal___Índice_académico.Models.ViewModels.AsignarEstudiantesVM
@{
    ViewData["Title"] = "CreateAsignarEstudiantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Asignar estudiantes</h1>



<div class="row">
    <div class="col-sm-4">
        <form asp-controller="Seccion" asp-action="insert" method="post">
            <input type="hidden" asp-for="oCalificacion.IdCalificacion"/>
            <div class="mb-2">
                <label>Matricula del estudiante</label>
                <input name="Matricula" asp-for="oCalificacion.Matricula"/>
            </div>
            <div class="mb-2">
                 <input type="hidden" name="IdAsignatura" asp-for="oCalificacion.Id.IdAsignatura"  id="asg"/>
            </div>
            
            <div class="mb-2">
                <input type="hidden" name="IdSeccion" asp-for="oCalificacion.Id.IdSeccion" id="sec"/>
            </div>
            <div class="mb-2">
                <button class="btn btn-primary"  onclick="return confirm('¿Seguro que desea realizar esta acción?')" type="submit">Create</button>
                <a class="btn btn-dark btn-sm" asp-action="Index" asp-controller="Seccion">Volver  </a>
            </div>
        </form>
    </div>
</div>


<div class="row">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Matricula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Asignatura</th>
                <th>Seccion</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

@section Scripts{
    <link rel=" stylesheet" href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css" />

    <script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>

    <script>
                
        $(document).ready(function () {


            $('#example').DataTable({
                "processing" : true,
                "serverSide" : true,
                "ajax": {
                    "url": "@Html.Raw(@Url.Action("GetEstudiante", "Seccion", new{ @IdSeccion = @ViewBag.seccion, @IdAsignatura = @ViewBag.asignatura }))",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    {"data" : "matricula"},
                    {"data" : "nombre"},
                    {"data" : "apellido"},
                    {"data" : "codigoAsignatura"},
                    {"data" : "numeroSeccion"}
                ]
            });
        });

    </script>

}