@model IDS325L___ProyectoFinal___Índice_académico.Models.Seccion
@{
    ViewData["Title"] = "Delete";
}


<div class="row">
    <div class="col-sm-4">
        <form asp-action="Delete" asp-controller="Seccion" method="post">
            <input class="form-control" type="hidden" asp-for="IdSeccion" />
            <div class="mb-2">

                <label class="form-label">Número de la sección</label>
                <input class="form-control" type="text" asp-for="NumeroSeccion" disabled/>
            </div>

            <div class="mb-2">
                <label class="form-label">Nombre asignatura</label>
                <input class="form-control" type="text" asp-for="IdAsignaturaNavigation.NombreAsignatura" disabled/>
            </div>

            <div class="mb-2">
                 <label class="form-label" >Nombre docente</label>
                 <input class="form-control" type="text" asp-for="MatriculaNavigation.Matricula" disabled/>
            </div>

            
            <button class="btn btn-sm btn-danger w-25" type="submit">Eliminar</button>
            <a class="btn btn-dark btn-sm w-25" asp-action="Index" asp-controller="Seccion">Volver</a>

            

        </form>
    </div>
</div>

